#OpcionesPanel {
    -fx-background-color: rgba(243, 243, 243, 0.7);
    -fx-background-radius: 20px;
}

#scenePane2 {
    -fx-background-color: rgba(243, 243, 243, 0.7);
    -fx-background-radius: 8px;
}

#scenePane3 {
    -fx-background-color: rgba(243, 243, 243, 0.7);
    -fx-background-radius: 8px;
}

#panelMapa {
    -fx-background-color: rgba(22, 201, 76, 0.6);
    -fx-font-family: Verdana;
}


#tituloscene2 {
    -fx-alignment: center;
    -fx-font-family: "verdana";
}

#logoCujae {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
    -fx-background-color: white;
    /* -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 2px; */
}

#title {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#gestionarRutasButton :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#GestionarOmnibusButton :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#VBoxSalir :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

.line {
    -fx-border-radius: 5;
}