#OpcionesPanel {
    -fx-background-color: rgba(231, 231, 226, 0.7);
    -fx-background-radius: 20px;
}

#scenePane2 {
    -fx-background-color: rgba(231, 231, 226, 0.9);
    -fx-background-radius: 8px;
    -fx-translate-x: 400;
    -fx-translate-y: 40;
}

#scenePane1 {
    -fx-background-radius: 8px;
}

#aico {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#aico :hover {
    -fx-effect: dropshadow(gaussian, rgba(212, 24, 24, 0.5), 10, 0, 0, 3);
}

#circle {
    -fx-fill: rgba(0, 0, 0, 0.0);
    -fx-border-color: rgba(0, 0, 0, 0.0);
}

#puente {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

/* #lago {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);

} */

#panelRecorrido {
    -fx-background-radius: 8px;
    -fx-background-color: rgba(231, 231, 226, 0.7);
}

#scenePane3 {
    -fx-background-color: rgba(231, 231, 226, 0.9);
    -fx-background-radius: 8px;
    -fx-translate-x: 20;
    -fx-translate-y: 10;
}

/* #47ad32  */
#panelMapa {
    -fx-background-color: #E3E1D2;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
}


.tituloScene {
    -fx-alignment: center;
    -fx-font-family: "verdana";
}

#logoCujae {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
    -fx-background-color: white;
    /* -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 2px; */
}

#title {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#gestionarRutasButton :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#GestionarOmnibusButton :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#VBoxSalir :hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#street {
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

#circleButton {
    -fx-background-color: rgba(253, 243, 243, 0.5);
    -fx-border-style: none;
}

#pathValueLabel {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}

#iconPathValue {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 3);
}